.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.news-title{
    position: relative;

}

.news-title h1{
    padding: 0 30px;
    font-size: 80px;
    font-weight: 600;
}

.news-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.5s;
    cursor: pointer;
}

.news-format:hover{
    border: 2px solid #30BE96;
    transform: scale(1.1);
    background-image: linear-gradient(267deg, #25a1c3 0.36%, #64bc5b 102.06%);
    transition: 0.5s;
}

.news-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;
}

.news-format h3{
    font-size: 28px;
    font-weight: 600;
}

.news-format h2{
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(267deg, #402565 0.36%, #30BE96 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.news-format p{
    color: #d4d4d4;
    font-size: 24px;
    line-height: 40px;
    max-width: 300px;
}

.news-readmore{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

